In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6

In [55]:
dataset = pd.read_csv('Accident_Dataset.csv')

In [56]:
dataset.head()

,ACCIDENT_NO,ACCIDENT_DATE,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,HIT_RUN_FLAG,LIGHT_CONDITION,POLICE_ATTEND,SEVERITY,...,OLD_DRIVER,YOUNG_DRIVER,ALCOHOL_RELATED,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,STAT_DIV_NAME
0,T20100011699,27-03-10,14.20.00,1,1,6.0,0,1,1,1,...,0,1,0,0,2,0,2,0,0,1.0
1,T20100011706,25-03-10,19.00.00,1,1,4.0,0,2,0,2,...,0,1,0,1,2,0,2,0,0,2.0
2,T20100011709,27-03-10,15.00.00,1,2,6.0,0,1,0,1,...,0,0,0,0,2,0,1,0,0,2.0
3,T20100011710,27-03-10,16.10.00,1,1,6.0,0,1,1,1,...,0,0,0,0,2,0,1,1,0,2.0
4,T20100011711,19-03-10,11.00.00,0,3,5.0,0,1,0,1,...,0,0,0,0,1,0,0,1,0,1.0

In [57]:
dataset.columns

Index(['ACCIDENT_NO', 'ACCIDENT_DATE', 'ACCIDENT_TIME', 'ALCOHOLTIME',
       'ACCIDENT_TYPE', 'DAY_OF_WEEK', 'HIT_RUN_FLAG', 'LIGHT_CONDITION',
       'POLICE_ATTEND', 'SEVERITY', 'SPEED_ZONE', 'LONGITUDE', 'LATITUDE',
       'LGA_NAME', 'TOTAL_PERSONS', 'INJ_OR_FATAL', 'FATALITY',
       'SERIOUSINJURY', 'OTHERINJURY', 'NONINJURED', 'MALES', 'FEMALES',
       'BICYCLIST', 'PASSENGER', 'DRIVER', 'PEDESTRIAN', 'PILLION', 'MOTORIST',
       'UNKNOWN_', 'PED_CYCLIST_5_12', 'PED_CYCLIST_13_18', 'OLD_PEDESTRIAN',
       'OLD_DRIVER', 'YOUNG_DRIVER', 'ALCOHOL_RELATED', 'UNLICENCSED',
       'NO_OF_VEHICLES', 'HEAVYVEHICLE', 'PASSENGERVEHICLE', 'MOTORCYCLE',
       'PUBLICVEHICLE', 'STAT_DIV_NAME'],
      dtype='object')

In [58]:
dataset.shape

(138031, 42)

In [59]:
X = dataset.iloc[:,3:]

In [60]:
X

,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,HIT_RUN_FLAG,LIGHT_CONDITION,POLICE_ATTEND,SEVERITY,SPEED_ZONE,LONGITUDE,LATITUDE,...,OLD_DRIVER,YOUNG_DRIVER,ALCOHOL_RELATED,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,STAT_DIV_NAME
0,1,1,6.0,0,1,1,1,60,146.42392,-38.24305,...,0,1,0,0,2,0,2,0,0,1.0
1,1,1,4.0,0,2,0,2,50,144.93533,-37.74541,...,0,1,0,1,2,0,2,0,0,2.0
2,1,2,6.0,0,1,0,1,60,144.96195,-37.76806,...,0,0,0,0,2,0,1,0,0,2.0
3,1,1,6.0,0,1,1,1,60,145.07644,-37.86303,...,0,0,0,0,2,0,1,1,0,2.0
4,0,3,5.0,0,1,0,1,60,146.08043,-37.91727,...,0,0,0,0,1,0,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138026,0,2,1.0,0,1,1,1,60,144.97049,-37.79748,...,0,0,0,0,1,0,1,0,0,2.0
138027,1,2,5.0,1,4,0,2,60,145.31055,-38.02485,...,0,0,0,0,1,0,0,0,0,2.0
138028,0,1,3.0,0,2,1,1,40,145.04234,-37.76884,...,0,0,0,0,3,0,2,1,0,2.0
138029,0,1,1.0,0,1,1,1,50,145.95527,-38.48600,...,0,0,0,0,2,0,2,0,0,1.0
138030,0,6,5.0,0,1,1,1,30,145.11556,-38.05298,...,1,0,0,1,1,0,1,0,0,2.0

In [61]:
X.shape

(138031, 39)

In [62]:
X = dataset.iloc[:,3:].values

In [63]:
X

array([[1., 1., 6., ..., 0., 0., 1.],
       [1., 1., 4., ..., 0., 0., 2.],
       [1., 2., 6., ..., 0., 0., 2.],
       ...,
       [0., 1., 3., ..., 1., 0., 2.],
       [0., 1., 1., ..., 0., 0., 1.],
       [0., 6., 5., ..., 0., 0., 2.]])

In [64]:
#missing data
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
>imp.fit([[1, 2], [np.nan, 3], [7, 6]])
SimpleImputer()
X = [[np.nan, 2], [6, np.nan], [7, 6]]
print(imp.transform(X))

[[4.         2.        ]
 [6.         3.66666667]
 [7.         6.        ]]

In [68]:
X_n = dataset[['LGA_NAME','TOTAL_PERSONS']]
X_n = X_n.iloc[:,:].values

In [67]:
imputer = Imputer(missing_values='NaN',strategy="most_frequent",axis=0)
imputer = imputer.fit(X_n[:,:])
X_n[:,:] =  imputer.transform(X_n[:,:])

NameError: name 'Imputer' is not defined

In [ ]:
plt.scatter(X_n[:,0],X_n[:,1])
plt.xlabel('LGA_NAME')
plt.ylabel('Toatal_Accidents')
plt.show()

In [ ]:
time = dataset['ACCIDENT_TIME']
j=0
t=[]
for i in time:
   t.append(int(i[0:2])) 
   j+=1

import math
j=0
for i in t:
    t[j] = i//3
    j+=1
    
deathpertime={}
for i,j in zip(X_n[:,1],t):
    if j in deathpertime:
        deathpertime[j] += i
    else:
        deathpertime[j] = i

In [ ]:
val=[]
for i in sorted(deathpertime):
    val.append(deathpertime[i])
    
label = ['12am-3am','3am-6am','6am-9am','9am-12pm','12pm-3pm','3pm-6pm','6pm-9pm','9pm-12am']

In [ ]:
plt.figure(figsize=(10,5))
plt.bar([0,1,2,3,4,5,6,7],val) 
plt.xticks([0,1,2,3,4,5,6,7],label)
plt.xlabel('Time (3-hour period)')
plt.ylabel('Number of accidents')
plt.show()

In [ ]:
plt.pie(val,labels=label,autopct='%1.1f%%')
plt.axis('equal')
plt.xlabel('Percentage of Accidents per 3-hour period')
plt.show()

In [ ]:
RoadUserDf = pd.read_csv('datafile_3.csv')

In [ ]:
#Severity Index
totalaccidents = {}

totalaccidents["2012"] = RoadUserDf.loc[36,'Number of Total Road Accidents of Two-Wheelers - 2012']
totalaccidents["2012"] += RoadUserDf.loc[36,'Number of Total Road Accidents of Auto-Rickshaws - 2012']
totalaccidents["2012"] += RoadUserDf.loc[36,'Number of Total Road Accidents of Cars, Jeeps, Taxis - 2012']
totalaccidents["2012"] += RoadUserDf.loc[36,'Number of Total Road Accidents of Buses - 2012']
totalaccidents["2012"] += RoadUserDf.loc[36,'Number of Total Road Accidents of Trucks, Tempos, MAVs, Tractors - 2012']
totalaccidents["2012"] += RoadUserDf.loc[36,'Number of Total Road Accidents of Other Motor Vehicles - 2012']
totalaccidents["2012"] += RoadUserDf.loc[36,'Number of Total Road Accidents of Other Vehicles/Objects - 2012']

totalaccidents["2014"] = RoadUserDf.loc[36,'Two-Wheelers - Number of Road Accidents-Total - 2014']
totalaccidents["2014"] += RoadUserDf.loc[36,'Auto-Rickshaws - Number of Road Accidents-Total - 2014']
totalaccidents["2014"] += RoadUserDf.loc[36,'Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014']
totalaccidents["2014"] += RoadUserDf.loc[36,'Buses - Number of Road Accidents - Total - 2014']
totalaccidents["2014"] += RoadUserDf.loc[36,'Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014']
totalaccidents["2014"] += RoadUserDf.loc[36,'Other Motor Vehicles - Number of Road Accidents - Total - 2014']
totalaccidents["2014"] += RoadUserDf.loc[36,'Other Vehicles/Objects - Number of Road Accidents - Total - 2014']

totalaccidents["2016"] = RoadUserDf.loc[36,'Motor Cycle/ Scooter - Number of Road Accidents - Total - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'Moped/Scootty - Number of Road Accidents - Total - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'Auto rickshaw - Number of Road Accidents - Total - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'Tempo - Number of Road Accidents - Total - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'E-Rickshaw - Number of Road Accidents - Total - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'Motor Car - Number of Road Accidents - Total - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'Jeep - Number of Road Accidents - Total - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'Taxi - Number of Road Accidents - Total - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'Bus - Number of Road Accidents - Total - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'Truck/Lorry - Number of Road Accidents - Total - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'Articulated Vehicle/Trolly - Number of Road Accidents - Fatal - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'Tractor - Number of Road Accidents - Total - 2016']
totalaccidents["2016"] += RoadUserDf.loc[36,'Other Motor Vehicles - Number of Road Accidents - Total - 2016']

In [ ]:
totalkilled = {}

totalkilled["2012"] = RoadUserDf.loc[36,'Number of Persons Killed from accidents of Two-Wheelers - 2012']
totalkilled["2012"] += RoadUserDf.loc[36,'Number of Persons Killed from accidents of Auto-Rickshaws - 2012']
totalkilled["2012"] += RoadUserDf.loc[36,'Number of Persons Killed from accidents of Cars, Jeeps, Taxis - 2012']
totalkilled["2012"] += RoadUserDf.loc[36,'Number of Persons Killed from accidents of Buses - 2012']
totalkilled["2012"] += RoadUserDf.loc[36,'Number of Persons Killed from accidents of Trucks, Tempos, MAVs, Tractors - 2012']
totalkilled["2012"] += RoadUserDf.loc[36,'Number of Persons Killed from accidents of Other Motor Vehicles - 2012']
totalkilled["2012"] += RoadUserDf.loc[36,'Number of Persons Killed from accidents of Other Vehicles/Objects - 2012']


totalkilled["2014"] = RoadUserDf.loc[36,'Two-Wheelers - Number of Persons-Killed - 2014']
totalkilled["2014"] += RoadUserDf.loc[36,'Auto-Rickshaws - Number of Persons-Killed - 2014']
totalkilled["2014"] += RoadUserDf.loc[36,'Cars, Jeeps,Taxis - Number of Persons Killed - 2014']
totalkilled["2014"] += RoadUserDf.loc[36,'Buses - Number of Persons - Killed - 2014']
totalkilled["2014"] += RoadUserDf.loc[36,'Trucks,Tempos,MAVs,Tractors - Number of Persons - Killed - 2014']
totalkilled["2014"] += RoadUserDf.loc[36,'Other Motor Vehicles - Number of Persons - Killed - 2014']
totalkilled["2014"] += RoadUserDf.loc[36,'Other Vehicles/Objects - Number of Persons - Killed - 2014']

totalkilled["2016"] = RoadUserDf.loc[36,'Motor Cycle/ Scooter - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'Moped/Scootty - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'Auto rickshaw - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'Tempo - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'E-Rickshaw - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'Motor Car - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'Jeep - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'Taxi - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'Bus - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'Truck/Lorry - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'Articulated Vehicle/Trolly - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'Tractor - Number of Persons - Killed - 2016']
totalkilled["2016"] += RoadUserDf.loc[36,'Other Motor Vehicles - Number of Persons - Killed - 2016']

In [ ]:
severity = {}
for i in totalkilled:
    severity[i] = (totalkilled[i]/totalaccidents[i])*100

plt.figure(figsize=(10,5))
plt.plot([2012,2014,2016],list(severity.values()))
plt.xticks([2012,2014,2016])
plt.yticks([28,29,30,31])
plt.title('Accident Severity Index (Total deaths per 100 accidents)')
plt.xlabel('Year')
plt.ylabel('Accident Severity Index')
plt.show()

In [ ]:
### Road-user data
FaultType = pd.read_csv('datafile_4.csv')
FaultType = FaultType.drop(FaultType.index[[34,37]])

In [ ]:
faulttype = {}
faulttype["Driver's Fault"] = FaultType.loc[36,'Fault of Driver-Total No. of Road Accidents - 2014'] 
faulttype["Cyclist's Fault"] = FaultType.loc[36,'Fault of Cyclist-Total No. of Road Accidents - 2014'] 
faulttype["Vehicle Condition"] = FaultType.loc[36,'Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014'] 
faulttype["Road Condition"] = FaultType.loc[36,'Defect in Road Condition-Total No. of Road Accidents - 2014'] 
faulttype["Weather Condition"] = FaultType.loc[36,'Weather Condition-Total No. of Road Accidents - 2014'] 
faulttype["Passenger's Fault"] = FaultType.loc[36,'Fault of Passenger-Total No. of Road Accidents - 2014'] 
faulttype["Poor Light"] = FaultType.loc[36,'Poor light-Total No. of Road Accidents - 2014'] 
faulttype["Stray Animals"] = FaultType.loc[36,'Stray animals-Total No. of Road Accidents - 2014'] 
faulttype["Others"] = FaultType.loc[36,'Other causes/ Causes not known-Total No. of Road Accidents - 2014']

In [ ]:
val = list(faulttype.values())
total = sum(val)
for i in range(0,9):
    val[i] = format(val[i]*100/total,'.2f')

In [ ]:
plt.figure(figsize=(10,8))
plt.pie(list(faulttype.values()))
plt.axis('equal')
plt.xlabel('Accidents in 2014')

centre_circle = plt.Circle((0,0),0.70,fc='white')
fig = plt.gcf()
fig.gca().add_artist(centre_circle)
label = [list(pair) for pair in zip(list(faulttype.keys()),val)]
plt.legend(label)
plt.show()

In [ ]:
# Involvement of different types of vehicles

vehicletype = {}
vehicletype["2-Wheeler"] = RoadUserDf.loc[36,'Motor Cycle/ Scooter - Number of Road Accidents - Total - 2016']
vehicletype["2-Wheeler"] += RoadUserDf.loc[36,'Moped/Scootty - Number of Road Accidents - Total - 2016']

vehicletype["3-Wheeler"] = RoadUserDf.loc[36,'Auto rickshaw - Number of Road Accidents - Total - 2016']
vehicletype["3-Wheeler"] += RoadUserDf.loc[36,'Tempo - Number of Road Accidents - Total - 2016']
vehicletype["3-Wheeler"] += RoadUserDf.loc[36,'E-Rickshaw - Number of Road Accidents - Total - 2016']


vehicletype["4-Wheeler"] = RoadUserDf.loc[36,'Motor Car - Number of Road Accidents - Total - 2016']
vehicletype["4-Wheeler"] += RoadUserDf.loc[36,'Jeep - Number of Road Accidents - Total - 2016']
vehicletype["4-Wheeler"] += RoadUserDf.loc[36,'Taxi - Number of Road Accidents - Total - 2016']

vehicletype["Heavy Vehicle"] = RoadUserDf.loc[36,'Bus - Number of Road Accidents - Total - 2016']
vehicletype["Heavy Vehicle"] += RoadUserDf.loc[36,'Truck/Lorry - Number of Road Accidents - Total - 2016']
vehicletype["Heavy Vehicle"] += RoadUserDf.loc[36,'Articulated Vehicle/Trolly - Number of Road Accidents - Total - 2016']
vehicletype["Heavy Vehicle"] += RoadUserDf.loc[36,'Tractor - Number of Road Accidents - Total - 2016']

vehicletype["Other Vehicle"] = RoadUserDf.loc[36,'Other Motor Vehicles - Number of Road Accidents - Total - 2016']

In [ ]:
#plot vehicle-type

plt.figure(figsize=(10,8))
plt.pie(list(vehicletype.values()),labels=list(vehicletype.keys()),autopct='%1.2f%%')
plt.axis('equal')
plt.xlabel('Types of Vehicles Involved in Accidents in 2016')

centre_circle = plt.Circle((0,0),0.70,fc='white')
fig = plt.gcf()
fig.gca().add_artist(centre_circle)

plt.show()

In [ ]:
import seaborn as sns

In [ ]:
Adataset = pd.read_csv('Accident_Dataset.csv')
X1 = Adataset.iloc[:,:].values
X1 = np.delete(X1,2,axis=1)
X1 = np.delete(X1,1,axis=1)
X1 = np.delete(X1,0,axis=1)
names = (Adataset.columns.values)
names = names[3:]

In [ ]:
imputer = Imputer(missing_values='NaN',strategy="most_frequent",axis=0)
imputer = imputer.fit(X1[:,:])
X1[:,:] =  imputer.transform(X1[:,:])
data_new = pd.DataFrame(data=X1,columns=names)

In [ ]:
imputer = Imputer(missing_values=-1,strategy="most_frequent",axis=0)
imputer = imputer.fit(X1[:,:])
X1[:,:] =  imputer.transform(X1[:,:])
data_new = pd.DataFrame(data=X1,columns=names)

In [ ]:
imputer = Imputer(missing_values=-2,strategy="most_frequent",axis=0)
imputer = imputer.fit(X1[:,:])
X1[:,:] =  imputer.transform(X1[:,:])
data_new = pd.DataFrame(data=X1,columns=names)

In [ ]:
sns.countplot(x='LIGHT_CONDITION', hue='SEVERITY',data=data_new)
plt.show()

In [ ]:
sns.countplot(x='SEVERITY',hue='ALCOHOLTIME',data=data_new)
plt.show()

In [ ]:
sns.countplot(x='LIGHT_CONDITION',hue='ALCOHOLTIME',data=data_new)
plt.show()

In [ ]:
sns.countplot(x='SEVERITY',hue='SPEED_ZONE',data=data_new)
plt.show()

In [ ]:
sns.countplot(x='POLICE_ATTEND',hue='SPEED_ZONE',data=data_new)
plt.show()

In [ ]:
sns.countplot(x='FEMALES',hue='SEVERITY',data=data_new)
plt.show()

In [ ]:
dataset.isnull().sum()

In [ ]:
dataset=dataset.dropna(how = 'any')

In [ ]:
dataset.duplicated().sum()

In [ ]:
y = dataset['SEVERITY']
x = dataset[['ALCOHOLTIME',
       'ACCIDENT_TYPE', 'DAY_OF_WEEK', 'HIT_RUN_FLAG', 'LIGHT_CONDITION',
       'POLICE_ATTEND', 'SPEED_ZONE', 'LONGITUDE', 'LATITUDE',
       'LGA_NAME', 'TOTAL_PERSONS', 'INJ_OR_FATAL', 'FATALITY',
       'SERIOUSINJURY', 'OTHERINJURY', 'NONINJURED', 'MALES', 'FEMALES',
       'BICYCLIST', 'PASSENGER', 'DRIVER', 'PEDESTRIAN', 'PILLION', 'MOTORIST',
       'UNKNOWN_', 'PED_CYCLIST_5_12', 'PED_CYCLIST_13_18', 'OLD_PEDESTRIAN',
       'OLD_DRIVER', 'YOUNG_DRIVER', 'ALCOHOL_RELATED', 'UNLICENCSED',
       'NO_OF_VEHICLES', 'HEAVYVEHICLE', 'PASSENGERVEHICLE', 'MOTORCYCLE',
       'PUBLICVEHICLE', 'STAT_DIV_NAME']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

rf = RandomForestClassifier(n_estimators=20, random_state=23)
rf.fit(X_train, y_train)
rf_predict=rf.predict(X_test)

rf_conf_matrix = confusion_matrix(y_test, rf_predict)
rf_acc_score = accuracy_score(y_test, rf_predict)

print("confussion matrix")
print(rf_conf_matrix)

print("\n")
print("accuracy",rf_acc_score*100)